
body {
    background: linear-gradient(135deg, #7f5cff, #4ecdc4);
    font-family: Arial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 450px;
    background: rgba(0,0,0,0.25);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

h1, h2 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #ffca28;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.noteCard {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    font-size: 15px;
}
